[submodule "reference-marytts"]
	path = reference-marytts
	url = https://github.com/attacomsian/marytts.git
[submodule "bleeding-marytts"]
	path = bleeding-marytts
	url = https://github.com/attacomsian/marytts.git
	branch = realised-acoustparams-testing
